
//// Simulation Brand
$sim-heading: #4A4A4A;
$body-bg: #f5f8fa;
$sim-popover-border-color: rgba(0, 0, 0, 0.25);
$sim-margin: 40px;

// Borders
//$laravel-border-color: darken($body-bg, 10%);
//$list-group-border: $laravel-border-color;
//$navbar-default-border: $laravel-border-color;
//$panel-default-border: $laravel-border-color;
//$panel-inner-border: $laravel-border-color;
//
// Bootstrap
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;


// Typography
//$icon-font-path: "~bootstrap/assets/fonts/bootstrap/";
$font-family-sans-serif: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif, serif;
$font-family-serif: "Raleway", sans-serif;
$font-size-base: 0.875rem;
$line-height-base: 1.6;
$text-color: #636b6f;
$headings-font-family: $font-family-serif;

// Navbar
//$navbar-default-bg: #fff;
//$navbar-height: 80px;
//$navbar-margin-bottom: 0;
//
//// Buttons
//$btn-default-color: $text-color;
//
//// Inputs
//$input-border: lighten($text-color, 40%);
//$input-border-focus: lighten($brand-primary, 25%);
//$input-color-placeholder: lighten($text-color, 30%);
//
//// Panels
//$panel-default-heading-bg: #fff;
//
// Border-radii
$border-radius:        0px;
$border-radius-lg:     0px;
$border-radius-sm:     0px;

////** Padding between columns. Gets divided in half for the left and right.
//$grid-gutter-width:         20px;


$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1600px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1540px
);

$spacer: 1rem !default;
$navbar-nav-link-padding-x:         1rem;
$navbar-padding-y:                  $spacer;

