// Fonts
@import url('https://fonts.googleapis.com/css?family=Cinzel|Open+Sans');

// Icons
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

h1  {
  font-size: 18pt;
  font-weight: bold;
}

h2 {
  font-size: 16pt;
  font-family: $font-family-sans-serif;
}

h3 {
  font-size: 14pt;
  font-family: $font-family-sans-serif;
}

body {
  font-size: 12pt;
  font-family: $font-family-sans-serif;
}

.material-icons {
  font-size: inherit;
  line-height: inherit;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

.btn-selected {
  background-color: $sim-heading;
  color: white;
}

.btn-group {
  font-family: $font-family-serif;
}


.btn-invert {
  @include button-variant( #ffffff, $sim-heading, $sim-heading);
}


.btn-selected {
  background-color: $sim-heading;
  color: white;
}

.btn-invert.disabled:hover,
.btn-invert.disabled:focus,
.btn-invert.disabled.focus,
.btn-invert[disabled]:hover,
.btn-invert[disabled]:focus,
.btn-invert[disabled].focus,
fieldset[disabled] .btn-invert:hover,
fieldset[disabled] .btn-invert:focus,
fieldset[disabled] .btn-invert.focus {
  background-color: $sim-heading;
  border-color: $sim-heading;
}

.heading{
  background-color: $sim-heading;
  height: $sim-margin;
  color: white;

  h1 {
    margin: 0;
    padding: 8px 10px;
  }
}

.main{
  margin-left: $sim-margin;
  margin-top: $sim-margin;
  padding: 0;
  background-color: white;
}

.btn-success{
  height: $sim-margin;
  width: 130px;
  font-size: 16px;
}

.contents{
  margin: $sim-margin;
}