// Fonts
@import url('https://fonts.googleapis.com/css?family=Cinzel|Open+Sans');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

h1  {
  font-size: 18pt;
}

h2 {
  font-size: 16pt;
  font-family: $font-family-sans-serif;
}

h3 {
  font-size: 14pt;
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 12pt;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  display: flex;
  align-items: stretch;
}